/* ================= GLOBAL BASE CSS PRESET ================= */

*{
    box-sizing: border-box; /* Define how to calculate width and height with padding or not*/
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  background-color: #0b0c10;
  color: #ffffff;
  line-height: 1.6;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

p {
  opacity: 0.9;
}

a {
  color: inherit; /* Follow warna elemen disekitarnya */
  text-decoration: none;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: min(1200px, 90%);    /* Min container witdh will be 1200px or smalleerrr will be 90%*/
  margin-inline: auto;
}

/* .text-center {
  text-align: center;
}
    blum kepake
.mt-2 { margin-top: 0.5rem; }
.mt-4 { margin-top: 1rem; }
.mt-8 { margin-top: 2rem; } */
