/* File: /css/footer.css */
.footer {
  padding: 50px 10%;
  background: #05060a; /* Warna dark-space yang sangat gelap */
  border-top: 1px solid rgba(100, 150, 255, 0.15);
  text-align: center;
}

.footer-links {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* .footer-links a {
  color: #9fb7ff;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.footer-links a:hover {
  opacity: 1;
} */

.footer-links span {
  color: #9fb7ff;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.footer-links span:hover {
  opacity: 1;
}


.footer-copyright {
  color: #7a8ba3;
  font-size: 0.9rem;
  line-height: 1.6;
}
